@model GenerateInvoiceView
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" lang="en-us" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-12 p-2">
                <h5>Payment Invoice# @Model.Id</h5>
                <div>Date: @DateTime.Now.ToString("dd-MM-yyyy")</div>
            </div>
            <div class="clearfix"></div>
            <div class="col-6 p-2 float-left">
                <div class="font-weight-bold">@Model.Vendor.Name</div>
                <div>@Model.Vendor.Address.ALineOne</div>
                <div>@Model.Vendor.Address.ALineTwo</div>
                <div><a class="text-body" href="@Model.Vendor.WebAddress">@Model.Vendor.WebAddress</a></div>
            </div>
            <div class="col-6 p-4 float-right">
                <img class="w-75" src="@Model.Vendor.BrandPhotoPath" height="80" />
            </div>
        </div>
        <div class="w-100 mt-2">
            <!-- Order Items table starts-->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="" style=" background-color: lightgray">
                            <td colspan="2">
                                <div class="w-100">
                                    <div class="font-weight-bold float-left w-50">ORDER #@Model.Cart.Id</div>
                                    <div class="font-weight-bold float-right w-50">CUSTOMER NO #@Model.Customer.Id</div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-35">
                                <div class="font-weight-bold">Billing Address</div>
                                <div>@Model.Customer.FirstName @Model.Customer.LastName</div>
                                <div>@Model.Customer.BillingAddress.ALineOne</div>
                                <div>@Model.Customer.BillingAddress.ALineTwo</div>
                                <div>@Model.Customer.BillingAddress.Email</div>
                                <div>@Model.Customer.BillingAddress.CellPhone</div>

                                <div class="font-weight-bold mt-2">Payment Method</div>
                                <div>Transaction Type: @Model.paymentInfo.Trxtype</div>
                                <div>Card Type: @Model.paymentInfo.CardType</div>
                                <div>Card Number: @Model.paymentInfo.CardNo</div>
                                <div>Merchant Bank Id: @Model.paymentInfo.MerchantBankId</div>
                                <div>Merchant Bank Uid: @Model.paymentInfo.MerchantBankUid</div>
                                <div>Approved Code: @Model.paymentInfo.BankApprovedCode</div>
                                <div>Transaction Type: @Model.paymentInfo.Trxtype</div>
                                <div>Ip Address: @Model.paymentInfo.IpAddress</div>
                                <div>Card Statement Show: @Model.paymentInfo.CardStatementShow</div>
                                <div>Gateway Currency: @Model.paymentInfo.GatewayCurrency</div>
                                <div>Amount: @string.Format("{0:n}", @Model.paymentInfo.AmountPaid) </div>
                            </td>
                            <td class="w-65">
                                <div class="form-row">
                                    <div class="col-9 float-left">
                                        <div class="font-weight-bold">Items</div>
                                    </div>
                                    <div class="col-3 float-right">
                                        <div class="font-weight-bold">Price</div>
                                    </div>
                                </div>
                                @{
                                    for (var i = 0; i < Model.Cart.CartItems.Count(); i++)
                                    {
                                        var item = Model.Cart.CartItems[i];
                                        <div class="form-row">
                                            <div class="col-9 p-1 pl-2 float-left">
                                                <div class="d-flex p-0 text-break">
                                                    <div class="col-2 float-left">
                                                        <span>@(i + 1).</span>
                                                    </div>
                                                    <div class="col-10 float-right">
                                                        <span>Item Id #@item.ItemId</span>
                                                        <span>@item.Name</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 float-right text-break">
                                                <div class="">BDT @string.Format("{0:n}", @item.Price)</div>
                                            </div>
                                        </div>

                                    }
                                }
                                <div class="form-row">
                                    <div class="col-6 float-left">&nbsp;</div>
                                    <div class="col-6 float-right">
                                        <div class="form-row">
                                            <div class="col-6 text-break p-1 float-left">
                                                Items Subtotal:
                                            </div>
                                            <div class="col-6 p-1 text-break float-right">
                                                BDT @string.Format("{0:n}", @Model.Cart.ItemsTotalPrice)
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-row ">
                                            <div class="col-6 text-break p-1 float-left">
                                                Shipping and Handling:
                                            </div>
                                            <div class="col-6 p-1 text-break float-right">
                                                BDT @string.Format("{0:n}", @Model.Cart.Shipping)
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-row">
                                            <div class="col-6 text-break p-1 float-left">
                                                &nbsp;
                                            </div>
                                            <div class="col-6 p-1 text-break float-right">
                                                ---
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-row">
                                            <div class="col-6 text-break p-1 float-left">
                                                Item Subtotal:
                                            </div>
                                            <div class="col-6 p-1 text-break float-right">
                                                BDT @string.Format("{0:n}", @Model.Cart.ItemsTotalPrice)
                                            </div>
                                        </div>
                                        @if (Model.Cart.CouponDiscount > 0)
                                        {
                                            <div class="clearfix"></div>
                                            <div class="form-row">
                                                <div class="col-6 text-break p-1 float-left">
                                                    Coupon Discount (@Model.Cart.CouponCode):
                                                </div>
                                                <div class="col-6 p-1 text-break float-right">
                                                    BDT @string.Format("{0:n}", -@Model.Cart.CouponDiscount)
                                                </div>
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                        <div class="form-row">
                                            <div class="col-6 text-break p-1 font-weight-bold float-left">
                                                Grand Total:
                                            </div>
                                            <div class="col-6 p-1 font-weight-bold text-break float-right">
                                                BDT @string.Format("{0:n}", @Model.Cart.GrandTotalPayable)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Order Items table ends-->

            <div class="font-weight-bold p-2">
                For refund policy related information, please check the website <a class="text-decoration-none" href="niludigital.com">(https://niludigital.com)</a> for details.<br>
                For any query, you can mail us at support@niludigital.com
            </div>

            <div class="mt-2 col-12 mx-auto ">
                <div class="shadow-sm p-2 bg-white text-center">
                    <img src="~/images/payment-logos.jpg" width="720" height="144" class="img-fluid rounded scale-half objfit-cover" />
                </div>
            </div>

            <div class="mt-2 col-12 mx-auto">
                <div class="shadow-sm p-2 bg-white text-center">
                    <img src="~/images/ssl-payment-logo.png" width="720" height="144" class="img-fluid rounded scale-half objfit-cover" />
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
